* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Brand Colors*/
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Accent Colors*/
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6a59ff;

    /* Feedback*/
    --danger: #FF5959;

    /* Input*/
    --input-base: #1c1f21;
    --input-stroke: #363b40;
    --input-placeholder: #869198;

    /* Shape*/
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text*/
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /* Fonts*/
    --font1: "Leckerli One", cursive;
    --logo: 400 40px/normal var(--font1);

    --font2: "Baloo 2", sans-serif;
    --heading-md: 700 28px/normal var(--font2);
    --heading-sm: 700 18px/normal var(--font2);

    --font3: "Open Sans", sans-serif;
    --body-md: 400 16px/normal var(--font3);
    --body-sm: 400 14px/normal var(--font3);
    --body-xs: 400 12px/normal var(--font3);
}

body {
    font: var(--body-md);
    color: var(--shape-body);
    background: var(--shape-background);
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    position: relative;
}

header{
    width: 30%;
    margin: 0.938;
    position: inherit;
}

main{
    margin: 0.938rem;
    padding: 5rem;
    display: flex;
    width: 70%;
    justify-content: center;
    border-radius: 0.75rem;
}


input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    opacity: 0;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .radio1 {
    background-color: var(--shape-hover);
    color: var(--text-heading);
}

